.row
  .col-md-5
    h3 Bass
    .piano.clearfix
      .key
        .whiteKey#bkey1
        .blackKey#bkey2
      .key
        .whiteKey#bkey3
        .blackKey#bkey4
      .key
        .whiteKey#bkey5
      .key
        .whiteKey#bkey6
        .blackKey#bkey7
      .key
        .whiteKey#bkey8
        .blackKey#bkey9
      .key
        .whiteKey#bkey10
        .blackKey#bkey11
      .key
        .whiteKey#bkey12
      .key
        .whiteKey#bkey13
        .blackKey#bkey14
      .key
        .whiteKey#bkey15
        .blackKey#bkey16
      .key
        .whiteKey#bkey17
      .key
        .whiteKey#bkey18
        .blackKey#bkey19
      .key
        .whiteKey#bkey20
        .blackKey#bkey21
      .key
        .whiteKey#bkey22
        .blackKey#bkey23
      .key
        .whiteKey#bkey24
.row
  .col-md-8
    span Volume
    #bp1.param-slider
    br
    span Fatness
    #bp2.param-slider
    br
    span Sine - Saw
    #bp3.param-slider