.row
  .col-md-5
    h3 Bass
    .piano.clearfix
      .key
        .whiteKey#bkey1
        .blackKey#bkey2
      .key
        .whiteKey#bkey3
        .blackKey#bkey4
      .key
        .whiteKey#bkey5
      .key
        .whiteKey#bkey6
        .blackKey#bkey7
      .key
        .whiteKey#bkey8
        .blackKey#bkey9
      .key
        .blackKey#bkey10
        .whiteKey#bkey11
      .key
        .whiteKey#bkey12
.row
  .col-md-10
    br
    #bp1
    br
    #bp2
    br
    #bp3