#dpattern-choice
  h3 Drums
  .radio-inline
    input(type='radio', name='drums-pattern-choice', checked='true', value='1')
    span Pattern 1
  .radio-inline
    input(type='radio', name='drums-pattern-choice', value='2')
    span Pattern 2
  .radio-inline
    input(type='radio', name='drums-pattern-choice', value='3')
    span Pattern 3