.row
  .col-md-5
    h3 Lead
    .piano.clearfix
      .key
        .whiteKey#lkey1
        .blackKey#lkey2
      .key
        .whiteKey#lkey3
        .blackKey#lkey4
      .key
        .whiteKey#lkey5
      .key
        .whiteKey#lkey6
        .blackKey#lkey7
      .key
        .whiteKey#lkey8
        .blackKey#lkey9
      .key
        .whiteKey#lkey10
        .blackKey#lkey11
      .key
        .whiteKey#lkey12
      .key
        .whiteKey#lkey13
        .blackKey#lkey14
      .key
        .whiteKey#lkey15
        .blackKey#lkey16
      .key
        .whiteKey#lkey17
      .key
        .whiteKey#lkey18
        .blackKey#lkey19
      .key
        .whiteKey#lkey20
        .blackKey#lkey21
      .key
        .whiteKey#lkey22
        .blackKey#lkey23
      .key
        .whiteKey#lkey24
.row
  .col-md-8
    span Volume
    #lp1.param-slider
    br
    span Fatness
    #lp2.param-slider
    br
    span Overtones
    #lp3.param-slider
    br
    span Release
    #lp4.param-slider
    br
    .checkbox
      label
        input(type='checkbox')
        span Continuous
    #lpattern-choice
      .radio-inline
        input(type='radio', name='lead-pattern-choice', checked='true', value='0')
        span Pattern 1
      .radio-inline
        input(type='radio', name='lead-pattern-choice', value='1')
        span Pattern 2
      .radio-inline
        input(type='radio', name='lead-pattern-choice', value='2')
        span Pattern 3
      .radio-inline
        input#l-custom-pattern(type='radio', name='lead-pattern-choice', value='custom')
        span Custom

    #l-pattern-buttons
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x
      button.btn.btn-xs.pattern-button.disabled x