.row
  .col-md-5
    h3 Lead
    .piano.clearfix
      .key
        .whiteKey#lkey1
        .blackKey#lkey2
      .key
        .whiteKey#lkey3
        .blackKey#lkey4
      .key
        .whiteKey#lkey5
      .key
        .whiteKey#lkey6
        .blackKey#lkey7
      .key
        .whiteKey#lkey8
        .blackKey#lkey9
      .key
        .whiteKey#lkey10
        .blackKey#lkey11
      .key
        .whiteKey#lkey12
.row
  .col-md-10
    br
    #lp1
    br
    #lp2
    br
    #lp3