extends layout

block files
  script(src='javascripts/main.js')

block content
  .container
      h1.app-header syntone
      p Make some noise!
      br
      #lp1
      br
      #lp2
      br
      #bp1
      br
      #bp2
      br
      button#pd-starter.btn.btn-primary Start pd patch
      button#pd-stopper.btn.btn-danger Stop pd patch
