extends layout

block files
  script(src='javascripts/main.js')

block content
  .container
      h1.app-header syntone
      p Make some noise!
      .row.info-area
        .col-md-4
          h3 Band members
          ul#band-members
      .row
        .col-md-4
          h3 Lead
          br
          #lp1
          br
          #lp2
        .col-md-4
          h3 Bass
          br
          #bp1
          br
          #bp2
        .col-md-4
          h3 drums
          br
          #dp1
          br
          #dp2
      br
      button#pd-starter.btn.btn-primary Start pd patch
      button#pd-stopper.btn.btn-danger Stop pd patch
