extends layout

block files
  script(src='javascripts/main.js')

block content
  .container
    .header-area
      h1.app-header syntone
      .info-area.clearfix
        h3 Band members
        ul#band-members
    .row
      .col-md-6
        include ./partials/lead
      .col-md-6
        include ./partials/bass
    br
    button#pd-starter.btn.btn-primary Start pd patch
    button#pd-stopper.btn.btn-danger Stop pd patch
