extends layout

block files
  script(src='javascripts/main.js')

block content
  .container
    h1.app-header syntone
    p Make some noise!
    .piano.clearfix
      .key
        .whiteKey#key1
        .blackKey#key2
      .key
        .whiteKey#key3
        .blackKey#key4
      .key
        .whiteKey#key5
      .key
        .whiteKey#key6
        .blackKey#key7
      .key
        .whiteKey#key8
        .blackKey#key9
      .key
        .blackKey#key10
        .whiteKey#key11
      .key
        .whiteKey#key12

    .row.info-area
      .col-md-4
        h3 Band members
        ul#band-members
    .row
      .col-md-4
        h3 Lead
        br
        #lp1
        br
        #lp2
        br
        #lp3
      .col-md-4
        h3 Bass
        br
        #bp1
        br
        #bp2
        br
        #bp3
      .col-md-4
        h3 Drums
        br
        #dp1
        br
        #dp2
        br
        #dp3
    br
    button#pd-starter.btn.btn-primary Start pd patch
    button#pd-stopper.btn.btn-danger Stop pd patch
