doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="images/favicon.ico")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/jquery-ui/jquery-ui.css')
    link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    script(src='https://code.jquery.com/jquery-git2.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='vendor/jquery-ui/jquery-ui.js')
    script(src='vendor/lodash.js')
    script(src='vendor/webpd.js')
    script(src='vendor/jquery.ui.touch-punch.min.js')

    block files
  body
    block content