extends layout

block files
  script(src='javascripts/tester.js')

block content
  .container
    h1 Really awesome music project
    p Some samples and stuff
    a(href="/") main
    #jquery-test
    #lodash-test
    #io-message
    br
    #slider
    br
    button#pd-starter.btn.btn-primary Start pd patch
    button#pd-stopper.btn.btn-danger Stop pd patch
