.app-header {
    font-size: 80px;
    float: left;
}

.info-area {
    margin-top: 20px;
    float: right;
    width: 300px;
}

.header-area {
    height: 150px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/* Piano styles */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.piano {
    width: 770px;
    margin: 20px auto;
    cursor: pointer;
}

.key {
    width: 35px;
    float: left;
    margin: 10px;
    position: relative;
}

.blackKey {
    z-index: 50;
    width: 31px;
    height: 125px;
    background: #262524;
    border-radius: 5px;
    position: absolute;
    left: 49px;
    top: 9px;
}

.blackKey:hover {
    transition: background 0.2s;
    background-color: #5b5656;
}

.black-active-key {
    transition: none;
    background-color: #aea1a1;
}

.black-active-key:hover {
    transition: none;
    background-color: #aea1a1;
}

.whiteKey {
    width: 55px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    border: 1px #ccd0be solid;
    background-color: #FAFFE9;
}

.whiteKey:hover {
    transition: background 0.2s;
    background: #9e9d9e;
}

.white-active-key {
    transition: none;
    background: #676667;
}

.white-active-key:hover {
    transition: none;
    background: #676667;
}

.param-slider {
    margin-top: 4px;
    float: right;
    width: 88%;
}

.pattern-button {
    margin-right: 5px;
}

.main-logo {
    margin-top: 5px;
    height: 95px;
    width: auto;
}

#name-input {
    margin-bottom: 5px;
}