.app-header {
    font-size: 80px;
    float: left;
}

body {
    background-color: #19B0B4;
    color: #0A4647;
}

.btn-primary {
    background-color: #0A4647;
    border-color: #0A4647;
}

.btn-primary :hover {
    background-color: #419293;
    border-color: #419293;
}

.ui-widget-content {
    background: #178286;
    border: none;
}

#lp1 .ui-slider-range { 
    background: #0A4647; 
}

#bp1 .ui-slider-range { 
    background: #0A4647; 
}

#lp2 .ui-slider-range { 
    background: #D1589D; 
}

#bp2 .ui-slider-range { 
    background: #D1589D; 
}

#lp3 .ui-slider-range { 
    background: #EC7281; 
}

#bp3 .ui-slider-range { 
    background: #EC7281; 
}

#lp4 .ui-slider-range { 
    background: #FC964D; 
}

#bp4 .ui-slider-range { 
    background: #FC964D; 
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: none;
}

.custom-handle {
    border: white;
    fill: #E8DDCB;
}

.info-area {
    margin-top: 20px;
    float: right;
    width: 300px;
}

.header-area {
    height: 150px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/* Piano styles */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.piano {
    width: 770px;
    margin: 20px auto;
    cursor: pointer;
}

.key {
    width: 35px;
    float: left;
    margin: 10px;
    position: relative;
}

.blackKey {
    z-index: 50;
    width: 31px;
    height: 125px;
    background: #556D7F;
    border-radius: 5px;
    position: absolute;
    left: 49px;
    top: 9px;
}

.blackKey:hover {
    transition: background 0.2s;
    background-color: #33414C;
}

.black-active-key {
    transition: none;
    background-color: #222B32;
}

.black-active-key:hover {
    transition: none;
    background-color: #222B32;
}

.whiteKey {
    width: 55px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    border: 1px #ccd0be solid;
    background-color: #FFF2DE;
}

.whiteKey:hover {
    transition: background 0.2s;
    background: #E5D9C7;
}

.white-active-key {
    transition: none;
    background: #CCC1B1;
}

.white-active-key:hover {
    transition: none;
    background: #CCC1B1;
}

.param-slider {
    margin-top: 4px;
    float: right;
    width: 88%;
}

.pattern-button {
    margin-right: 5px;
}

.main-logo {
    margin-top: 5px;
    height: 95px;
    width: auto;
}

#name-input {
    margin-bottom: 5px;
}

.authors {
    font-size: 12px;
}

.static-popover .popover {
    position: absolute;
    display: block;
    top: -4px;
}